.card-channel {
    display: inline-block;
    box-sizing: border-box;
    width: 290px;
    flex-basis: 290px;
    min-width: 270px;
    height: 460px;
    padding-top: 70px;
    padding-bottom: 65px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    text-align: center;
    position: relative;
    flex-grow: 1;
    margin-right: 14px;
    margin-bottom: 20px;
}

.card-channel .logo {
    height: 60px;
    margin-bottom: 50px;
}

.card-channel .logo img {
    height: 100%;
}

.card-channel .title,
.card-channel .description {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.card-channel .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 18px;
}

.card-channel .description {
    font-size: 14px;
    color: rgba(32, 32, 32, .8);
}

.card-channel .btn {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%)
}