.main-expand {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.main-expand > .subtitle {
  font-size: 11px;
  display: inline;
  vertical-align: baseline;
}

.main-expand > .picture {
  width: 24px;
}
