.main-card {
  display: inline-block;
  position: relative;
  background-color: #754ef9;
  width: 728px;
  height: 352px;
  vertical-align: top;
  color: #f3f3f3;
}

.main-card .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 510px;
  transform: translate(-50%, -50%);
}

.main-card .title {
  font-size: 35px;
}

.main-card .description {
  font-size: 15px;
  opacity: 0.7;
}
