.main-carousel .cards {
  position: relative;
  height: 320px;
  margin-bottom: 40px;
}
.main-carousel .card {
  width: 685px;
  height: 100%;
  background-color: #754ef9;
  position: absolute;
  left: 50%;
  transform-origin: left center;
  transform: translateX(-50%);

  transition: transform 200ms linear;
}

.main-carousel .card.-isActive {
  background-color: red;
  transform: scale(1.1) translateX(-50%);
  z-index: 1;
}

.main-carousel .bullets {
  text-align: center;
}

.main-carousel .bullet {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #754ef9;
  opacity: 0.4;
  text-indent: -9999px;
  border-radius: 50%;
  margin-bottom: 200px;
  cursor: pointer;

  transition: opacity 200ms linear;
}

.main-carousel .bullet:not(:last-child) {
  margin-right: 5px;
}

.main-carousel .bullet.-isActive {
  opacity: 1;
}
