.play-video {
    display: inline-block;
    position: relative;
    width: 78px;
    height: 78px;
    border-radius: 50%;

    background-color: #FFF;
    box-shadow: 0 5px 15px 0 rgba(117, 78, 249, 0.16);

    text-indent: -9999px;
}

.play-video::before {
    content: '';
    border-style: solid;
    border-width: 10px 12px;
    border-color: transparent transparent transparent #754ef9;
    
    width: 0;
    height: 0;
    position: absolute;
    top: 30px;
    left: 34px;   
}