.social-media .action {
    display: block;
    text-indent: -9999px;

    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
}

.social-media .-facebook {
    background-image: url(../../img/facebook.svg);
    margin-bottom: 26px;
}

.social-media .-twitter {
    background-image: url(../../img/twitter.svg);
    margin-bottom: 26px;
}

.social-media .-linkedin {
    background-image: url(../../img/linkedin.svg);
}