.title-rotate {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
  text-transform: uppercase;
  transform-origin: left bottom;
  transform: rotate(90deg);
  width: 224px;
}

.title-rotate::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 55px;
  background-color: var(--primary-color);
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 30px;
}
