a {
    color: #ffffff;
}

#padding {
    display: inline-block;
    background-color: red;
    /* padding-left: 45px;
    padding-right: 45px;
    padding-top: 14px;
    padding-bottom: 14px; */

    /* padding: top right bottom left; */
    padding: 14px 45px 14px 45px;

    /* padding: top/bottom right/left */
    padding: 14px 45px;

    /* padding: top right/left bottom*/
    padding: 14px 45px 14px;

    /* padding: top/right/bottom/left */
    padding: 45px;
}

#margin {
    display: inline-block;
    background-color: blue;
    /* margin-left: 45px;
    margin-right: 45px;
    margin-top: 14px;
    margin-bottom: 14px; */

    /* margin: top right bottom left; */
    margin: 14px 45px 14px 45px;

    /* margin: top/bottom right/left */
    margin: 14px 45px;

    /* margin: top right/left bottom*/
    margin: 14px 45px 14px;

    /* margin: top/right/bottom/left */
    margin: 45px;
}