header {
    font-size: 50px;
}

h1 {
    font-size: .5em;
    background-color: red;
    height: 4em;
    width: 4em;
}

/* EM é um multiplicador da unidade que foi definida no font-size do elemento pai quando utilizado na propriedade font-size
    se você utilizar no height o que é pego como referencia é proprio font-size do elemento onde você está definindo o height */