

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

p {
    text-align: justify;
}

header {
    text-align: justify;
}

h1 {
    /* fz35  */
    font-size: 35px;
    font-weight: 400;
    display: inline-block;
}

nav {
    display: inline-block;
}

a {
    font-size: 15px;
    /* c#101010 */
    color: #101010;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 42px;
}

