body {
    font-family: 'Open sans', sans-serif;
}

h1 {
   /* fz35  */
   font-size: 35px;
   font-weight: 400;
}

a {
    font-size: 15px;
    /* c#101010 */
    color: #101010;
    text-decoration: none;
    text-transform: uppercase;
}

#btn {
    /* bgc#754ef9 */
    background-color: #754ef9;
    color: #ffffff;
    /* padding-left: 45px;
    padding-right: 45px;
    padding-top: 14px;
    padding-bottom: 14px; */

    /* padding: top right bottom left; */
    padding: 14px 45px 14px 45px;

    /* margin: top right bottom left; */
    margin: 45px 10px 10px 60px;

    border-radius: 100px;
}