figure {
  background-color: #fff;
  border: 15px solid var(--primary-color);
  border-radius: 50%;
  width: 514px;
  height: 514px;
  position: relative;
}

img {
  /* w352+h352 => forma de gerar widht e height com emmet */
  border: 15px solid var(--primary-color);
  width: 352px;
  height: 352px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateY(-50%) translateX(-50%);
}
